/* IMPORT */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto&display=swap');
/* RESET */
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
*{
    font-family: 'Roboto', sans-serif;
    color: rgb(44, 44, 44)
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Archivo Black', sans-serif;
}
/* GENERAL */
.container{
    width: 70vw;
    margin: 0 auto;
}
.btn_block{
    width: 100%;
    display: block;
}
.btn_fake_a{
    cursor: pointer;    
}
.btn_primary{
    background: rgb(198, 187, 248);
    padding: 5px;
    border-radius: 5px;
}
.btn_danger{
    background: rgb(248, 197, 197);
    padding: 5px;
    border-radius: 5px;
}
.btn_success{
    background:  rgb(199, 250, 199);
    padding: 5px;
    border-radius: 5px;
}
.alert-success{
    background: rgb(199, 250, 199);
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    border-radius:  10px;
    margin-top: 5px;
}
.alert-danger{
    background: rgb(248, 197, 197);
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    border-radius:  10px;
    margin-top: 5px;
}
.divider {
    margin: 50px 0;
display: flex;
justify-content: space-between;
}
hr{
    border-top: 3px solid lightcoral;
    border-bottom: 3px solid lightcoral;
    width: 50%;
    margin: 5px 0;
}
.divider span{
    transform: rotate(90deg);
    color: lightcoral;
    font-size:55px;
    position: relative;
    bottom: -35px;

}
.d_flex_evenly{
    display: flex;
    justify-content: space-evenly;
}
.vw_20{
    min-width: 20vw;
}
details{
    background: lightcoral;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    padding: 5px 0;
}
section header{
    margin: 40px 0;
    text-align: center;
}
section header h1{
    margin: 10px 0;
    
}
a.go-back{
    background: lightcoral;
    padding: 5px;
    border-radius: 5px;
    
}
/* NAVIGATION */
nav{
   
    width: 100%;
}
li a.active,
li.dropdown:hover ul li a.active{
    border-bottom: 3px solid lightcoral;
    color: lightgrey;
    transition: 0.2s ease;
}
li a{
    color: rgba(240, 128, 128,0.9);  
    padding: 1px 0;
}
li.dropdown{
    position: relative;
    cursor: pointer;
}
li.dropdown ul{
    position: absolute;
    width: 100%;
    left: 0;
    align-self: baseline;
    top: 25px;
    
}
li.dropdown ul{
    display: none;
    flex-direction: column;
    background: lightcoral;margin: 4px auto;
}
li.dropdown:hover ul   {
    display: block;
    display: flex;
    flex-direction: column;
}
li.dropdown:hover ul>li{
   background: #000;
}
li.dropdown:hover ul li a{
    color: lightcoral;
}

/* FORM */
.form-card{
    position: relative;
    width: 60vw;
    max-width: 600px;
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
    border-radius: 10px;
    border: 1px solid lightcoral;
    padding: 5px 10px;
}
.form-card h1{
    position: absolute;
    top: -35px;
    background: lightcoral;
    padding: 5px;
    border-radius: 10px;
}
.form-card div{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px 10px;
}
.form-card label,
.form-card input{
    height: 30px;
    padding: 5px 0;
}
.form-card p{
    height: 30px;
    padding: 5px 0;
    color: red;
}
.form-card input,
.form-card textarea{
    border: 1px solid lightgrey;
}
.form-card input[type="submit"]{
    background: lightcoral;
}
.form-card input[type="file"]{
    border: 0px solid lightgrey;
}
.a-inscription{
    padding: 5px 0;
}
/* SERVICES */
.services-card img{
    border-radius: 50%;
    box-shadow: 0 0 15px;
    margin: 10px 0;
}
.services-card img:hover{
    box-shadow: 0 0 0;
    transition: 0.5s ease;
}
.services-card p{
    margin: 10px 0;
    padding: 10px;
}
#services img{
   position: relative;
max-height: 350px;
width: 100%;
margin: 50px auto;
}
/* CONTACT */
.contact-card .card-header{
    align-items: baseline;
    margin: 30px 0;
}
.contact-card .card-body p{
    margin: 10px 0;
}
/* SECTION #HERO*/
#hero {
    position: relative;
     z-index:-1;
    background-image: url("http://localhost/php-mvc-fullstack/public/img/teddy-bear.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;   
    height: 50vw; 
}
.overlay {
    position: absolute;
   
    background: black;
    color: pink;
    width: 100%;
    height:100%;
    opacity: 0.85; 
    
}
.overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.overlay div h1,
.overlay div p,
.overlay div a{
    color:white;  
}
.overlay div a{
    padding: 10px;
    background: lightcoral;  
    margin: 30px;
    display: block;
    width:150px;
    border-radius:5px;
}
.overlay div h1 span{
    color:lightcoral;
    text-align: center;
}
/* SECTION #ABOUT-US */
#about-us .img-right,
#about-us .img-left{
    display: flex;
}
#about-us .img-left{

    flex-direction: row;
}
#about-us .img-right p,
#about-us .img-right img,
#about-us .img-left p,
#about-us .img-left img{
    width: 50%;
}
[class*='front-page-'] h1,
[class*='front-page-'] [class*='img-'] {
   
    margin: 20px 0;
}
[class*='img-'] img{
   border-radius: 50%;
}
[class*='img-'] p{
   padding: 10px;
 }
.front-page-odd h1{
 text-align: right;
 margin: 20px 0;
}
/* FOOTER */
footer{
    background: #000;
    padding: 5px 5px 30px 5px;
    border-top: 4px solid lightcoral;
    text-align: center;   
}
footer p{
    color: rgba(240, 128, 128,0.9); 
    width: 30vw;   
}
footer p:nth-child(2){
    border-left: 1px solid rgba(240, 128, 128,0.5);   
    border-right: 1px solid rgba(240, 128, 128,0.5);   
}
footer h1{
    color: rgba(240, 128, 128,0.9); 
}
footer iframe{
    border-radius:5px;
    padding-bottom: 30px;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 599px){
    /* GENERAL */
    .container{
        width: 90vw;
        margin: 0 auto;
    }
    /* NAVIGATION */
    nav{
    display: flex;
    }
    nav ul li{
    display: none; 
    }     
    nav ul {
    width:0px;
    height: 0px;
    transition: 0.4s;
    background: #000;
    
    }
    nav ul.open{
    position: absolute;
   z-index:2;
    margin-left: 0px;
    margin-right: 5px;
    width: 100vw;
    transition: 0.4s ease;
    text-align: center;
    height: 100%;
    
    opacity: 1;
    color: white; 
    }
    nav ul.open li{
    margin: 10px 10px;
    display: block;background: black;
    padding: 2px 0;
    }    
    #menu-icon{
    position: absolute;
    z-index:3;
    right: 5px;
    width: 55px;
    background: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    background: lightcoral;
    opacity: 0.9;
    color: white;
    border-radius: 5px;
    }
    #menu-icon>span{
    width: 45px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
    }
    li.dropdown ul{
       top: 18px; 
       margin: 5px auto;
    }
    
    li.dropdown:hover ul>li{
       width: 100%;
       background: lightcoral;
       margin: 0 auto;
       padding: 5px 0;
    }
    li.dropdown:hover ul li a{
        color: black;
    }
    li.dropdown:hover ul li a.active{
        border-bottom: 3px solid black;
        color: lightgray;
        transition: 0.2s ease;
    }
    /* FORM */
    .form-card{
    width: 90vw;  
    }
    /* SECTION #ABOUT-US */
    #about-us .img-right,
    #about-us .img-left{
        display: flex;flex-direction: column;
    }
    #about-us .img-right p,
    #about-us .img-right img,
    #about-us .img-left p,
    #about-us .img-left img{
        width: 100%;
    }
    [class*='front-page-'] h1,
    [class*='front-page-'] [class*='img-'] {
    
        margin: 20px 0;text-align: center;
    }
    [class*='img-'] img{
    border-radius: 50%;
    }
    [class*='img-'] p{
    padding: 10px;
    }
    
}
@media only screen and (min-width:600px){
/* NAVIGATION */
    nav{
    border-bottom: 4px solid lightcoral;
    }
    nav ul{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: black;
    opacity: 0.9;
       
    }
    nav li{
    padding: 5px 15px;
    border-left: 1px solid rgba(240, 128, 128,0.5);   
    }
    nav li:last-child{
    border-right: 1px solid rgba(240, 128, 128,0.5); 
    }
    /* FORM */
    .form-card{
    width: 60vw;
    }
}
